<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/styles.css'>
    
</head>
<body class="bg-gradient-to-b h-screen from-[#d5e1df] to-[#a8b6b4] max-w-xl px-5 mx-auto xl:px-0 py-2">
    <div class="p-2 m-2">
      {{ content | safe }}
    </div>
    <div class=" p-4 flex flex-col sm:flex-row gap-2 w-full justify-between">
      <img  src="/images/my-image.jpg" alt="My Image" class="w-1/3 sm:max-w-1/3 md:max-w-1/4 lg:max-w-1/5 rounded-full h-auto">
      <p class="p-4 ">Hello! I'm Yana, a passionate and recent graduate from a rigorous software developer bootcamp. My journey into the world of web development has been an exciting adventure, where I've gained hands-on experience in building modern and responsive websites.</p>
    </div> 
</body>
</html>